@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.hud {
    font-family: "Montserrat", serif;
    font-weight: lighter;
    top: 0;
    height: 0;
}

.healthArmor {
    position: absolute;
    bottom: 1.8%;
    left: 1.5%;
    height: 1.5%;
    width: 25vh;
    .healthArmor__health,
    .healthArmor__armor {
        position: relative;
        height: 50%;
    }
    .healthArmor__healthBar,
    .healthArmor__armorBar {
        transition-duration: 500ms;
        position: absolute;
        height: 100%;
        border-radius: 0 0 0.4vh 0.4vh;
    }
}

.staffboard {
    justify-content: center;
    align-items: center;
    display: flex;
    .staffboard__container {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 2.4%;
        right: 1%;
        height: 9.352vh;
        width: auto;
        border-radius: 0.5vh;
        justify-content: center;
        align-items: center;
        gap: 0.3vh;
        color: white;
        font-size: 1.296vh;
        padding-left: 0.5vh;
        padding-right: 0.5vh;
        .items {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 0.093vh;
            height: 2.87vh;
            width: 8.073vw;
            .items_text {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 75%;
            }
            p {
                margin: 0;
                span {
                    font-weight: 700;
                    margin-right: 0.26vw;
                    &.red {
                        color: rgba(255, 0, 0, 1);
                    }
                }
            }
            .items_icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.1);
                &.red {
                    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.5) 0%, rgba(201, 0, 0, 0.5) 100%);
                }
                img {
                    width: 0.801vw;
                    height: 0.801vw;
                }
            }
        }
    }
    .staffboard__alert {
        position: absolute;
        background: rgba(200, 0, 0, 0.5);
        top: 4.6vh;
        height: 4vh;
        width: auto;
        border-radius: 0 0 0.5vh 0.5vh;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.4vh;
        font-weight: 700;
        gap: 0.5vh;
        padding-left: 0.5vh;
        padding-right: 0.5vh;
    }
}

.interactNotif {
    position: absolute;
    bottom: 8%;
    left: 16%;
    display: flex;
    flex-direction: column;
    width: 4.5%;
    gap: .8vh;
}

@media screen and (max-width: 1680px) {
    .interactNotif {
        left: 18%;
        bottom: 9%;
    }
}

@media screen and (max-width: 1600px) and (max-height: 900px) {
    .interactNotif {
        left: 16%;
        bottom: 8%;
    }
}

@media screen and (max-width: 1440px) {
    .interactNotif {
        left: 21%;
        bottom: 10.4%;
    }
}

@media screen and (max-width: 1440px) and (max-height: 900px) {
    .interactNotif {
        left: 18%;
        bottom: 9%;
    }
}

@media screen and (max-width: 1366px) {
    .interactNotif {
        left: 16%;
        bottom: 8%;
    }
}

@media screen and (max-width: 1280px) {
    .interactNotif {
        left: 22%;
        bottom: 10.8%;
    }
}

@media screen and (max-width: 1280px) and (max-height: 960px) {
    .interactNotif {
        left: 21%;
        bottom: 10.4%;
    }
}

@media screen and (max-width: 1280px) and (max-height: 800px) {
    .interactNotif {
        left: 18%;
        bottom: 8.7%;
    }
}

@media screen and (max-width: 1280px) and (max-height: 720px) {
    .interactNotif {
        left: 16%;
        bottom: 8%;
    }
}

@media screen and (max-width: 1024px) {
    .interactNotif {
        left: 20%;
        bottom: 12%;
    }
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
    .interactNotif {
        left: 21%;
        bottom: 10.4%;
    }
}

.microphone {
    position: fixed;
    bottom: 2.5vh;
    left: 16.5vw;
    width: 2.2vw;
    max-width: 50px;
    min-width: 24px;
    height: auto;
    z-index: 1000;
}

.progress {
    position: absolute;
    top: 80%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 20%;
    span {
        text-align: center;
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-style: italic;
        font-size: 1.3vh;
        margin-left: -10%;
        margin-bottom: 2%;
        color: white;
        text-transform: uppercase;
    }
    &__progress {
        width: 100%;
        max-width: 94%;
        height: 2vh;
        background: rgba(0, 0, 0, 0.5);
        overflow: visible;
        transform: skew(-25deg);
        &__bar {
            height: 100%;
            background-color: white;
            transition: width 0.1s ease-out;
            box-shadow: 0 0 1vh 0.2vh rgba(255, 255, 255, 0.5), inset 0 0 1vh 0.2vh rgba(255, 255, 255, 0.5);
        }
    }
}

.weapon-hud {
    display: flex;
    position: absolute;
    left: 1vw;
    top: 50vh;
    height: 10vh;
    width: 6.5vw;
    transform: translateY(-5vh);
    background: linear-gradient(180deg, rgba(65, 65, 65, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    justify-content: center;
    .durability {
        left: 0;
        position: absolute;
        width: .4vw;
        height: 10vh;
        background: linear-gradient(180deg, rgba(65, 65, 65, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
        div {
            position: absolute;
            width: .4vw;
            background: white;
            bottom: 0;
        }
    }
    .bullets {
        top: .25vh;
        left: .75vw;
        position: absolute;
        color: white;
        font-size: 1.6vh;
        span {
            font-weight: bolder;
        }
    }
    img {
        display: block;
        margin-left: .45vw;
        width: 6vw;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}