.scrollbar {
	&::-webkit-scrollbar {
		width: 7px;
	}

	&::-webkit-scrollbar-track {
		background: rgba(255, 255, 255, 0.18);
	}

	&::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, 0.18);
		border-radius: 1vh;
	}
}


.frame {
	display: flex;
	flex-direction: column;

	height: 100%;

	@extend .scrollbar;


	.header {
		display: flex;
		flex-direction: row;
		position: relative;


		.goBack {
			position: absolute;
			left: -30px;
			top: -5px;
			padding: 10px;
			transition: all 0.1s ease;

			&:hover {
				scale: 1.1;
				cursor: pointer;
			}
		}

		h1 {
			color: #FFF;
			font-family: Montserrat;
			font-size: 21.6px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-transform: uppercase;
			margin:0;
		}
		
		h2 {
			color: #FFF;
			font-family: Montserrat;
			font-size: 21.6px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-transform: uppercase;
			margin:0;

			span {
				color: #ccc;
				font-family: Montserrat;
				font-size: smaller;
				font-weight: 300;
				line-height: normal;
				text-transform: uppercase;
				margin:0;
			}
		}
	}


	.topbuttons {
		display: flex;
		flex-direction: row;
		align-items: center;

		background: linear-gradient(0deg, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.18) 100%);
		border-radius: 0px 1vh 0px 1vh;
		position: absolute;
		padding: 0 10px;
		top: 0;
		right: 0;
		gap: 10px;

		img {
			padding: 10px;
			width: 13px;
			height: 13px;
			&:hover {
				scale: 1.1;
				cursor: pointer;
			}
		}
	}

	.headButtons, .footerButtons {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;

		&.headButtons {
			left: 16.5vw;
			text-transform: uppercase;
		}
		&.footerButtons {
			left: 42vw;
			margin-bottom: -10px;
		}

		.button {
			background-color: rgba(0, 0, 0, 0.20);
			color: #FFF;
			text-align: center;
			font-family: Montserrat;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			padding: 10px;
			border: none;
			transition: all 0.3s ease;
			width: 8vw;
			border-radius: 0.2vh;
		
			&:hover {
				background-color: rgba(0, 0, 0, 0.30);
				cursor: pointer;
			}
		}

		.buttonSave {
			background-color: rgba(0, 128, 0, 0.20);
			color: #FFF;
			text-align: center;
			font-family: Montserrat;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			padding: 10px;
			border: none;
			transition: all 0.3s ease;
			width: 8vw;
			border-radius: 0.2vh;
		
			&:hover {
				background-color: rgba(0, 128, 0, 0.30);
				cursor: pointer;
			}
		}
	}

	.spacer {
		margin: 17.5px;
	}

	.body {
		display: grid;
		grid-template-columns: 0.7fr 3fr;
		grid-template-rows: 1fr;
		gap: 30px;
		height: 100%;
		min-height: 0;
		margin-top: 10px;

		.column {
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: center;
			
			min-height: 100%;
			max-height: 100%;
			overflow-y: auto;
			overflow-x: hidden;

			@extend .scrollbar;

			&.nav {
				gap: 20px;
			}
			
			.main {
				display: flex;
				flex-direction: row;
				justify-content: start;
				align-items: start;
				gap: 20px;

				width: 100%;
				height: 100%;

				.column {
					flex: 1;

					.members {
						> div {
							flex: 1;
						}
					}

					.row {
						width: 100%;
						display: flex;
						flex-direction: column;
						flex: 1;
						gap: 20px;
					}
				}

				.actions {
					width: 100%;

					.title, .subtitle {
						color: #FFF;
						text-align: center;
						font-family: Montserrat;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}

					.title {
						background-color: rgba(0, 0, 0, 0.20);
						padding: 8px 0;
						border-radius: 4px 4px 0px 0px;
						font-size: 16px;
					}

					.subtitle {
						background-color: rgba(255, 255, 255, 0.15);
						padding: 8px 0;
					}

					.preview {
						display: flex;
						flex-direction: row;
						justify-content: space-around;
						align-items: center;
						background-color: rgba(255, 255, 255, 0.10);
						padding: 20px;

						.infos {
							flex:1;
							.itemname, .itemcategory {
								color: #FFF;
								text-align: center;
								font-family: Montserrat;
								font-style: normal;
								font-weight: 400;
								line-height: normal;

								text-transform: capitalize;
							}

							.itemname {
								font-size: 18px;
							}

							.itemcategory {
								font-size: 14px;
								text-transform: uppercase;
							}
							
						}

						img {
							width: 100px;
							height: 100px;
							background-color: rgba(0, 0, 0, 0.10);
						}
					}

					.metadata {
						display: flex;
						flex-direction: column;

						max-height: 375px;
						overflow-y: auto;

						.info {
							display: flex;
							flex-direction: row;
							align-items: center;

							background-color: rgba(255, 255, 255, 0.10);

							color: #FFF;
							font-family: Montserrat;
							font-style: normal;
							font-weight: 400;
							font-size: 13px;
							line-height: normal;

							padding: 10px;

							.icon {
								display: flex;
								justify-content: center;
								align-items: center;
								padding-right: 10px;
								
								img {
									width: 15px;
									height: 15px;
								}
							}
							
							.label {
								flex: 2;
								display: flex;
								align-items: center;

								img,svg {
									width: 15px;
									height: 15px;
									margin-left: 5px;
								}
							}

							.value {
								display: flex;
								flex: 2;

								input[type="checkbox"] {
									width: 15px;
									height: 15px;
								}

								input[type="text"],input[type="number"]  {
									width: 100%;
									border: none;
									background-color: transparent;
									color: #FFF;
									font-family: Montserrat;
									font-style: normal;
									font-weight: 400;
									font-size: 13px;
									line-height: normal;

									&:focus {
										border: none;
										outline: none;
									}

									&:not(:valid) {
										background-color: rgba(255, 0, 0, 0.10);
									}
								}

								input::placeholder {
									color: #FFF;
								}

								select {
									width: 100%;
									border: none;
									background-color: transparent;
									color: #FFF;
									font-family: Montserrat;
									font-style: normal;
									font-weight: 400;
									font-size: 13px;
									line-height: normal;

									&:focus {
										border: none;
										outline: none;
									}

									option {
										color: #000;
										background-color: #FFF;
									}
								}
							}

							&:nth-child(odd) {
								background-color: rgba(170, 170, 170, 0.10);
							}
						}
					}
					.footer {
						background-color: rgba(255, 255, 255, 0.10);

						display: grid;
						grid-template-columns: 1fr 1fr;
						grid-gap: 10px;
						padding: 20px;

						.button {
							background-color: rgba(0, 0, 0, 0.20);
							color: #FFF;
							text-align: center;
							font-family: Montserrat;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
							padding: 10px;
							border: none;
							transition: all 0.3s ease;

							&:hover {
								background-color: rgba(0, 0, 0, 0.30);
								cursor: pointer;
							}

							&:last-of-type {
								grid-column: 1 / -1;
							}
						}
					}
				}
			}
		}

	}
}