.Catalogue {
    display: flex;
    flex-direction: column;

    .scrollbar {
        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.18);
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.18);
            border-radius: 1vh;
        }
    }

    .titles {
        position: absolute;
        top: 5.5%;
        left: 3.1%;
        text-transform: uppercase;
        font-size: 2vh;

        .titleGestion {
            font-weight: bold;
        }

        .subtitleGestion {
            font-weight: light;
        }
    }

    .goBack {
        position: absolute;
        top: 5.9%;
        left: 1.3%;
        cursor: pointer;

        &:hover {
            scale: 1.1;
            cursor: pointer;
        }
    }

    .topbuttons {
        display: flex;
        flex-direction: row;
        align-items: center;

        background: linear-gradient(0deg, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.18) 100%);
        border-radius: 0px 1vh 0px 1vh;
        position: absolute;
        padding: 0 10px;
        top: 0;
        right: 0;
        gap: 10px;

        img {
            padding: 10px;
            width: 13px;
            height: 13px;

            &:hover {
                scale: 1.1;
                cursor: pointer;
            }
        }
    }

    .body {
        display: grid;
        margin-top: 90px;

        .column {
            display: flex;
            flex-direction: column;

            .categories {
                width: 90%;

                .item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 20px;
                    gap: 10px;
                    transition: all 0.3s ease;

                    background-color: rgba(255, 255, 255, 0.10);

                    .label {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        padding-right: 10px;

                        img {
                            width: 15px;
                            height: 15px;
                            padding: 3px;
                            margin-right: 5px;
                        }
                    }

                    .count {
                        font-size: 10px;
                    }

                    &:nth-child(odd) {
                        background-color: rgba(170, 170, 170, 0.10);
                    }

                    &:hover {
                        scale: 1.05;
                        background-color: rgba(255, 255, 255, 0.20);
                        cursor: pointer;
                    }

                    &:last-child {
                        border-radius: 0px 0px 4px 4px;
                    }
                }

                .footer {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 10px;
                    padding: 5px 10px;
                    background-color: rgba(0, 0, 0, 0.20);
                    border-radius: 4px;

                    img {
                        width: 10px;
                        height: 10px;
                    }

                    input {
                        width: 100%;
                        height: 25px;
                        border-radius: 4px;
                        border: none;
                        padding: 0 5px;
                        background-color: transparent;

                        color: #FFF;
                        font-family: Montserrat;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;

                        &::placeholder {
                            color: #FFF;
                        }

                        &:focus {
                            border: none;
                            outline: none;
                        }
                    }
                }
            }

            .title,
            .subtitle {
                color: #FFF;
                text-align: center;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .title {
                background-color: rgba(0, 0, 0, 0.4);
                padding: 5px 0;
                border-radius: 4px 4px 0px 0px;
                font-size: 16px;
            }

            .subtitle {
                background-color: rgba(255, 255, 255, 0.15);
                padding: 5px 0;
            }

            .main {
                .content {
                    display: grid;
                    grid-template-columns: repeat(8, 1fr);
                    max-height: 543px;
                    overflow-y: auto;

                    .item {
                        background-color: rgba(255, 255, 255, 0.10);
                        position: relative;
                        transition: all 0.3s ease;
                        height: 130px;
                        padding: 10px;

                        .label {
                            position: absolute;
                            bottom: 10px;
                            max-width: 90%;

                            left: 50%;
                            transform: translateX(-50%);

                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        .icon {
                            height: 80%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                width: 50%;
                                height: 50%;
                                user-select: none;
                            }
                        }

                        &:nth-child(12n + 2),
                        &:nth-child(12n + 4),
                        &:nth-child(12n + 6),
                        &:nth-child(12n + 7),
                        &:nth-child(12n + 9),
                        &:nth-child(12n + 11) {
                            background-color: rgba(170, 170, 170, 0.10);
                        }

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.20);
                            cursor: pointer;
                        }

                        &.add {
                            color: #FFF;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: Montserrat;
                            font-size: 36px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}